<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="40" package="dev.deni.cekairbatam" android:installLocation="auto" android:versionCode="40">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
	<application android:label="CekAirBatam.Android" android:theme="@style/MainTheme" android:icon="@drawable/icon">
		<meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-5151102131443886~5577882664" />
		<!--<meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-5151102131443886~5577882664" />-->
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
		<activity android:name="com.google.android.gms.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:theme="@android:style/Theme.Translucent" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
</manifest>